.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* Custome css start */
.testimonial_Heading {
  margin-top: 0px;
}

.profileInputField{
  margin-bottom: 20px !important;
}

.contactBody{
  /* width: 200px; */
  /* display: flex; */
  /* justify-content: center; */
  /* gap: 200px; */
  margin-left: 50px;
  row-gap: 50px;
}

.contactBody p{
  border-bottom: 1px solid rgb(206, 209, 211);
  margin-top: 20px;
  height: 30px;
}

.contactContent{
  margin-left: 250px;
}

.container {
  margin: 100px 20px;
}